# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/

# Environment
.env
.env.*

# Airflow local artifacts
airflow-logs/
airflow-plugins/
airflow_data/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
